.flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 5rem;
    border-radius: 1rem;
    padding: 1rem;
}
.header h1{
    font-size:2.5rem;
    color: royalblue;
    margin-top:1rem;
    
}

body {
background-color: royalblue;
}
* {
    font-size: 1.2rem;
}
input {
    padding: 0.5rem;
    margin-top: 1.5rem;
    border-top:0;
    border-left:0;
    border-right: none;
    outline: none;
    border-color: royalblue;
}
table{
    background-color: white;
    margin: 3rem;
    border:  solid rgb(4, 13, 19) 0.2rem;
    
}
 th{
    border:  none;
    padding: 0.3rem;
}

td{
    border:solid black 0.2rem;
    margin: 0;
    border-bottom:none ;
    border-right: none;
    border-left: none;
    padding: 0.3rem;
}
button{
    padding: 0.6rem;
    color:white;
    border: none;  
  
    margin-top: 2rem; 
    background-color: royalblue;
}
.err {
    color: red;
}