<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
   
</head>
<body>
    <form method="post" action="/student/update">
     Student name <input type ="text" name="name" value=" <%= student.name %>"><br><br>
     Roll no <input type ="number" name="rollno" value=<%= student.rollno %>><br><br>
     Semester <input type ="number" name="semester" value=<%= student.semester %>><br><br>
     Grade <input type ="text" name="grade" value=" <%= student.grade %>"><br><br>
     <button type="submit"> Update </button>
    </form><br><br>
    
</body>
</html>